.title{
    font-size: 80px;
}
.newsName{
    padding-top: 10px;
    padding-bottom: 5px;
}
.tiles{
    border: solid 1px;
}

.list-item{
    text-align: center;
}

.box{
    margin-top: 2em;
    margin-left: 15vw;
    width: 70%;
    height: 60vh;
    overflow: scroll;
    justify-content: center;
    border: solid;
}